Redirector/Redirector/Service References/DataService/FoodJournalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dailylogservice.cloudapp.net/FoodJournalService/FoodJournalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FoodJournalServiceWebRole.FoodJournalService" />
  <xs:element name="Push">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppInstance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FoodJournalServiceWebRole.FoodJournalService" minOccurs="0" name="messages" nillable="true" type="q1:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FoodJournalServiceWebRole.FoodJournalService" minOccurs="0" name="PushResult" nillable="true" type="q2:ArrayOfIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>